---
import "../styles/global.css"
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{t("site.title")}</title>
		<meta name="description" content={t("site.description")}>
		<meta name="keywords" content={t("site.keywords")}>
		<link rel="canonical" href={Astro.url}>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		<!-- Open Graph Protocol -->
		<meta property="og:title" content={t("og.title")}>
		<meta property="og:description" content={t("og.description")}>
		<meta property="og:type" content={t("og.type")}>
		<meta property="og:url" content={Astro.url}>
		<meta property="og:image" content={t("og.image")}>
		<meta property="og:image:alt" content={t("og.title")}>
		<meta property="og:image:type" content="image/svg+xml">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:locale" content={lang}>
		<meta property="og:site_name" content="CompareJSON">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={t("og.title")}>
		<meta name="twitter:description" content={t("og.description")}>
		<meta name="twitter:image" content={t("og.image")}>
		<meta name="twitter:image:alt" content={t("og.title")}>
	
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3GDX3W035Q"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-3GDX3W035Q');
		</script>
	</head>
	<body class="bg-gray-50 dark:bg-slate-900 text-gray-800 dark:text-gray-200 flex flex-col min-h-screen">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
